Install Redis and Redis python client:

In [60]:
%pip install redis

Requirement already satisfied: redis in /usr/local/lib/python3.10/dist-packages (5.0.1)
Requirement already satisfied: async-timeout>=4.0.2 in /usr/local/lib/python3.10/dist-packages (from redis) (4.0.3)

Start Redis Server

In [61]:
import redis
r = redis.Redis(host='localhost', port=6379, decode_responses=True)

Check connection to server

In [62]:

r = redis.Redis(
  host='redis-16081.c274.us-east-1-3.ec2.cloud.redislabs.com',
  port=16081,
  password='*****')

In [63]:
r.ping()

True

#Redis - an introduction

We want to use Redis in order to store data for a software that dynamically proposes a song to an inscribed user. The system relies on the history of played songs per genre.

We want to model data using Redis data structures.

We will use the command line interface to understand the basic data structures.

Please, refer to the official documentation for a complete reference and the full list of the com- mands: https://redis.io/commands.

## Training

In this part of the class you are just going to train in the usage of Redis.

Redis provides two main operations <code> set </code> to store data and <code> get </code> to retrieve data from the databases.

A string can be stored using the following syntax:

In [64]:
r.set('my key', 'my string to store')

True


To retrieve a value given the key:

In [65]:
r.get('my key')

b'my string to store'

If the string is an integer, it can be modified with the command <code>incr()</code>, <code>incrby()</code>, <code>decr()</code>, and <code>decrby()</code>:

In [66]:
r.set("my_counter", 0)

r.incr("my_counter")

r.incrby("my_counter",12)

r.decr("my_counter")

r.decrby("my_counter",10)

r.get("my_counter")

b'2'

Remember the fact that in Redis all the keys share the same key-space.

      userid1        Alice     
      userid2        Bob    
      userid3        TomFoo35Paris   
      counter        3

# Exercises

## Exercise 1

Verify, using the command GET,if you have already stored a key-value pair for the user userid1 (that is your key).

In [67]:
r.get('userid1')

b'coucoucoucou'

Store a key-value for <code>userid1</code> and put as value your first-name.

In [68]:
r.set('userid1', 'Tomislav')

True

Add to the key-value <code>userid1</code> your last-name (as a concatenation of strings).

In [69]:
r.set('userid1', 'Tomi' + 'slav')

True

Verify if you have now a key-value for the user <code>userid1</code> and pay attention to the value.

In [70]:
r.get('userid1')

b'Tomislav'

Run the following two commands and comment the result.

In [71]:
r.set("usderid1","Bob")

r.get("usderid1")

b'Bob'

Verify, using another command, if a key-value for the user <code>userid<code> exists.

In [72]:
if r.get('userid'):
  print('it exists!')
else:
  print('it does not exists :/')

it does not exists :/

Run the following command and comment the result.

In [73]:
r.get("userID1")

b'whassup'

tore the user <code>userid2</code> and its first-name (<code>Jack</code>) if the key <code>userid2</code> does not exists in the database. Use only one command.

In [74]:
r.setnx('userid2', 'Jack')

True

 Delete the user <code>userid2</code>.

In [75]:
r.delete('userid2')

1

Store the counter of the user keys in a variable <code>counter</code>. The initial value of your counter is <code>0</code>.

In [76]:
r.set('counter', len(r.keys()))

True

# Exercise 2

A List in Redis is simply a sequence of strings, sorted by insertion order, and identified by a key.

In [77]:
r.lpush('my_key',"my value")

16

Elements can be added at the tail:

In [78]:
r.rpush('my_key',"last element")

17

Elements can be inserted in the middle:

In [79]:
r.linsert("my_key","BEFORE",'last element',"new before last")

18

Element can be retrieved from the head:

In [80]:
r.lpop("my_key")

b'my value'

Or from the tail:

In [81]:
r.rpop("my_key")

b'last element'

To access all the elements in a list in a given range of indexes:

In [82]:
r.lrange("my_key",0,-1)

[b'my value',
 b'my value',
 b'new before last',
 b'new before last',
 b'new before last',
 b'new before last',
 b'new before last',
 b'new before last',
 b'new before last',
 b'new before last',
 b'new before last',
 b'new before last',
 b'new before last',
 b'new before last',
 b'new before last',
 b'last element']

Notice that -1 refers to the tail of the list.

```
userid1         Alice     
userid2         Bob    
userid3         TomFoo35Paris     
counter         3   
userid1play     [blue, smile, one]      
userid2play     [paradise, imagine]   

```

For each user we want to create a playlist.  Each playlist will be modeled as a Redis List where the key will be the concatenation of the key we associated to a user and the string <code>play</code>: <code>key of the user</code> + <code>play</code>.

Create a list for the user <code>userid1</code> and add to this list four songs: <code>one</code>, <code>smile</code>, <code>hello</code>, and <code>blue</code>.

In [91]:
r.rpush('userid1' + 'play', 'one')
r.rpush('userid1' + 'play', 'smile')
r.rpush('userid1' + 'play', 'hello')
r.rpush('userid1' + 'play', 'blue')

25

Add one element to the head:

In [85]:
r.lpush('userid1' + 'play', 'first')

18

Add two elements to the head:

In [86]:
r.lpush('userid1' + 'play', 'new first')
r.lpush('userid1' + 'play', 'new new first')

20

Add an element to the tail:

In [87]:
r.rpush('userid1' + 'play', 'tail')

21

Check the length of the playlist of the <code>userid1</code>.

In [93]:
len(r.lrange('userid1play',0,-1))

25

Show all the elements in the list.

In [94]:
r.lrange('userid1play',0,-1)

[b'new new first',
 b'new first',
 b'first',
 b'truc',
 b'haha',
 b'blue',
 b'hello',
 b'smile',
 b'one',
 b'two',
 b'one',
 b'blue',
 b'hello',
 b'smile',
 b'one',
 b'tail!!1!!!11!',
 b'one',
 b'smile',
 b'hello',
 b'blue',
 b'tail',
 b'one',
 b'smile',
 b'hello',
 b'blue']

In [95]:
r.rpop("userid1play")

b'blue'

Return the head of the list.

Return the tail of the list.

Remove the element \texttt{blue} from the list.\